*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Open Sans";
}
section {
    background: #ffffff;
    overflow: hidden;
}



/* =========================================
                Navigation
============================================ */
.navbar {
    padding: 35px 0 20px 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.site-nav-wrapper {
    padding: 0 85px;
}
.navbar-brand {
    padding: 13px 15px;
}
ul.navbar-nav>li>a {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #ffffff;   
}
ul.navbar-nav>li>a:hover {
    background: none;  
}
ul.navbar-nav>li>a.btn-nav:hover{
    background: #ffffff;
}


/* White Navigation */

.white-nav-top {
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}
.white-nav-top ul.navbar-nav>li>a {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
}




/* =========================================
                Home
============================================ */
#home {
    background: none;
    height: 620px;

}

.home-bg-img{
    position: fixed;
    width: 100%;
    height: 620px;
    z-index: -1;
    background: url("../image/home/banner-with-overlay.jpg") no-repeat ;
    background-size: 100% 100%;
    background-position: center;
}

#home-content {
   margin-top: 230px;
    
}

.home-details{
    position: relative;
    left: 80px;
    margin: 0px;
    display: block;
}

#home-heading h1{
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: bold(700);
    line-height: 54px;
    color: #ffffff;
    margin: 0;
    display: inline-block;
}

#home-text{
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: regular(400);
    line-height: 30px;
    color: #ffffff;   
    margin: 10px;
    position: relative;
    left: 65px;
    display: inline-block;  
}



/* =========================================
                About
============================================ */

.content-box-lg{
    padding-top: 60px;
}

#about-left .vertical-heading h2{
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-top: 0;
}
#about-right p {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
}

#about-right p:nth-child(2) {  
    margin-top: 50px;
}





/* =========================================
                work
============================================ */



#work .content-box-md{
    background-color: #f4f4f4;
    margin-top: 60px;
}

.work-horizontal-heading h2{
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-top: 60px;
    padding-bottom: 30px;
}

/* work left  */

.work-left .circle {
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 140px;
    height: 140px;
    position: relative;
    left: 50%;
}

.work-left .circle img {
    position: absolute;
    bottom: 45px;
    right: 40px;
}

.work-left h3{
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    position: relative;
    left: 12%;
    bottom: 20px;
    margin-top: 30px;
}

.work-left p {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    position: relative;
    left: 12%;
    bottom: 30px;
    margin-top: 30px;
} 




/* work right  */
.work-right .circle {
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
    -webkit-border-radius:50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 140px;
    height: 140px;
    position: relative;
    left: 25%;
}

.work-right .circle img {
    position: absolute;
    bottom: 45px;
    left: 43px;
}

.work-right h3{
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    position: relative;
    left: -12%;
    bottom: 20px;
    margin-top: 30px;
} 

.work-right p {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    position: relative;
    left: -12%;
    bottom: 30px;
    margin-top: 30px;
} 




/* =========================================
                testimonials
============================================ */
#testimonial .content-box-md{
    margin-top: 60px;
}

.testimonial-horizontal-heading h2{
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}
.testimonial-top {
    margin-top: 30px;
}
.testimonial {
    background: #fff;
    height: 278px;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    padding: 40px 40px 40px 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-bottom: 30px;
}
.author .author-name-des p:nth-child(1) {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #6255a5;
    margin-bottom: 0;
}
.author .author-name-des p:nth-child(2) {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
}
.testimonial #para {
    margin-top: 30px;
}


/* =========================================
                footer
============================================ */


footer {
    background: #ffffff;
    padding: 30px;
}

footer p {
    color: #333333;
    line-height: 20px;
    margin: 0;
    padding-top:20px ;
}

.social-icons {
    display: inline-block;
    text-align: center;
    float: right;
}
.social-icons i {
    border: none;
    padding-bottom: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 35px;
    color: white;
    background: #6255a5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    -o-transition: all 400ms linear;
}




/* =========================================
                Buttons
============================================ */

.btn-nav {
    background: #ffffff;
    color: #6255a5 !important;
    font-family: "Open Sans";
    border-radius: 3px;
    font-size: 16px;
    margin:  11px;
    padding-top: 4px  !important;
    width: 89px;
    height: 30px;
    line-height: 22px;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
/* .btn-nav-2 {
    background: blue;
    color: #6255a5 !important;
    font-family: "Open Sans";
    border-radius: 3px;
    font-size: 16px;
    margin:  11px;
    padding-top: 4px  !important;
    width: 89px;
    height: 30px;
    line-height: 22px;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
} */


.btn-Learn {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff !important;
    font-family: "Open Sans";
    font-weight: 600;
    border-radius:3px;
    font-size: 18px;
    margin:  11px;
    padding-top: 4px  !important;
    width: 172px;
    height: 35px;
    line-height: 22px;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}
.home-details{
    position: relative;
    left: 80px;
    margin: 0px;
    display: block;
}

.work-left button {
    background: #6255a5 !important;
    font-family: "Open Sans";
    border-radius: 3px;
    font-size: 18px;
    margin:  11px;
    padding-top: 2px  !important;
    width: 172px;
    height: 30px;
    line-height: 22px;
    font-weight: 600;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: relative;
    left: 12%;
    bottom: 50px;
    margin-top: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.work-right button {
    width: 150px;
    height: 30px;
    font-family: "Open Sans";
    border-radius: 3px;
    font-size: 18px;
    margin:  11px;
    font-weight: 600;
    background: #6255a5 !important;
    padding-top: 2px  !important;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: relative;
    left: -12%;
    bottom: 50px;
    margin-top: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

